@model TUI_TravelNET9.ViewModels.VacationVM

<div class="col-md-4 mb-3">
    <div class="card h-100">
        @if (!string.IsNullOrEmpty(Model.Photo))
        {
            <img src="@Model.Photo" class="card-img-top" alt="@Model.NameHotel" />
        }
        <div class="card-body">
            <h5 class="card-title">@Model.NameHotel</h5>
            <p class="card-text" aria-label="Rating">
                @{ 
                    var starCount = Model.Stars;
                    for (int i = 0; i < starCount; i++)
                    {
                        <img src="/images/star.jpg" alt="star" style="width:16px;height:16px;margin-right:4px;" />
                    }
                }
            </p>
            <p class="card-text">Score: @(Model.Score.HasValue ? Model.Score.Value.ToString("0.0") : "-")</p>
            <p class="card-text">Facilities: @(Model.Facilities ?? "-")</p>
            <p class="card-text">Country: @Model.Country</p>
        </div>
    </div>
</div>
